<h3 *ngIf="items.length == 0" class="text-center text-dark">
  lets do some tasks!
</h3>
<div class="bg-dark " *ngFor="let item of items; let i = index">
  <form class="mt-4 p-2  border-bottom">
    <div class="row justify-content-between align-items-center">
      <p class="col fw-bold mb-0">{{ item }}</p>
      <div class="col ms-0 d-flex justify-content-end align-items-center">
        <app-item></app-item>
        <div class="btn btn-danger ms-2" title="Delete" (click)="handleDeleteItem(i)">
          Delete <i class="bi bi-x-circle"></i>
        </div>
      </div>
    </div>
  </form>
</div>
