<div class="container pt-5 pb-5  border bg-info">
  <h1>TO DO APP!</h1>
<form>
  <div class="mb-3 mt-5">
    <input type="text" name="task" class="form-control" [(ngModel)]="task">
    <label class="form-check-label" >Enter your task</label>
  </div>
  <button type="submit" class="btn btn-outline-light" (click)="handleAddTsk()">ADD</button>
</form>

  <app-container-items [items]="arrTasks" (deleteItem)="deleteTask($event)"></app-container-items>
<button class="btn btn-danger mt-2" (click)="handleDeleteAllTasks()" *ngIf="arrTasks.length >0" >Delete All Tasks</button>
</div>